# dependencies
node_modules

# testing
coverage

# builds
dist
tsconfig.tsbuildinfo

# vite
dev-dist
vite.config.ts.timestamp*

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
build
pnpm-lock.yaml


# env files
.env
.env.test
.docker.env
.env.development


# turbo
.turbo

# Editor directories and files
**/.vscode
!.vscode/extensions.json
.VSCodeCounter
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# history
.history